/* ==========================================
   Home.css - 首頁專用樣式
   ========================================== */

/* ==========================================
   首頁容器和SVG樣式
   ========================================== */
.home-container {
  width: 1800px;
  height: 700px;
  display: flex;
  flex-direction: column;
  position: relative;
  /* border: 2px solid #ff0000; */
  box-sizing: border-box;
  overflow: hidden;
}

.waterpool-img {
  position: absolute;
  top: 42%;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 1800px;
  height: 750px;
  /* border: 1px solid #0066cc; */
  z-index: 0;
}

.ph-svg {
  position: absolute;
  right: 1350px;
  top: 45px;
  /* border: 1px solid #ffff00; */
  padding: 5px;
  z-index: 1;
}

.trmperature-svg {
  position: absolute;
  right: 900px;
  top: 30px;
  /* border: 1px solid #ff00ff; */
  padding: 5px;
  z-index: 1;
}

.O2-svg {
  position: absolute;
  right: 450px;
  top: 20px;
  /* border: 1px solid #00ffff; */
  padding: 5px;
  z-index: 1;
}

.salt-svg {
  position: absolute;
  right: 20px;
  top: 95px;
  /* border: 1px solid #ffa500; */
  padding: 5px;
  z-index: 1;
}

.NH2-svg {
  position: absolute;
  right: 20px;
  top: 280px;
  /* border: 1px solid #800080; */
  padding: 5px;
  z-index: 1;
}